<p>product-details works!</p>
<h2>Product details</h2>
<!--<div *ngIf="product">
    <h4> {{ product.name }} </h4>
    <h4> {{ product.price | currency }} </h4>
    <p> {{ product.description }} </p>

    <button (click) = "addToCart(product)"> BUY NOW </button>
</div> -->
<div class="container">
 <div *ngIf="product">

    <div class="col s2 m2"> 
      <div class="card">
        <div class="card-image">
          <img src="/assets/image1.png" style=" height:50 width:50">
              <h4> {{ product.name }} </h4>

        <!--  <span class="card-title">Card Title</span> -->
        </div>
        <div class="card-content">
            <p> {{ product.description }} </p>

          <!--<p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p> -->
        </div>
        <div class="card-action">
            <h4> {{ product.price | currency }} </h4>

         <!-- <a href="#">This is a link</a> -->
             <button (click) = "addToCart(product)"> BUY NOW </button>

        </div>
      </div>
    </div>
  
            